@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;500;700;900&display=swap');

html,
body{
  background-color: #EDF7FA;
  font-family: 'Heebo', sans-serif;
}


html{
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}

header,
body{
  width: 100%;
}

header #nav-bar{
  left: 0%;
  width: 100%;
  height: 80px;
  max-height: 80px;
  background-color:#EDF7FA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 50;
  top: 0;
}

main{
  position: relative;
  top: 80px;
}

header #nav-bar a.home{
  color:#00A8CC;
  margin-left: 5rem;
  text-decoration: none;
  transition: 0.5s;
}

#header #nav-bar .home :hover{
  font-weight: 900;
  color: black;
  transition: 0.5s;
}

header #nav-bar .nav-list{
  display: flex; /*Transforma os itens da lista em conteúdos dos containers*/
  list-style: none; /*Tira os marcadores da lista*/
  justify-content: flex-end; /*Alinha o conteúdo da lista à direita*/
  padding-right: 5rem;
}

header #nav-bar .nav-list li{
  margin: 1.5rem 0.8rem;
  margin-right: 0;
  margin-left: 1.5rem;
  align-content: center;
  transition: 0.5s;
}

header #nav-bar .nav-list .nav-item3 a{
  color: #FF6464;
}

header #nav-bar .itens a{
  text-decoration: none;
  color:#00A8CC;
  transition: 0.5s;
}

header #nav-bar .nav-list .itens :hover{
  font-weight: 900;
  color: #333333;
  transition: 0.5s;
}

header #nav-bar .fas{
  display: none;
}

main #contact-section .card{
  background-color: white;
  color: #333333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 5rem;
}

main #contact-section .card .text{
  padding-right: 1rem;
}

main #contact-section .card .text .title{
  font-size: 1.5rem;
}

main #contact-section .card .text .subtitle{
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1rem;
  color: #333333;
}

main #contact-section .card .form{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #333333;
  font-size: 1rem;
}

main #contact-section .card .form .form-card{
display: flex;
flex-direction: column;
}

main #contact-section .card .form .msg{
  width: 25rem;
  display: flex;
  flex-direction: column;
}

main #contact-section .card .form .msg .submit{
  background-color:#FF6464;
  color: white;
  font-size: 0.9rem;
  margin-bottom: 2rem;
  padding: 8px;
  border-color: transparent;
  margin-top: 1rem;
  font-weight: 600;
  border-radius: 4rem;
  color: white;
}

.line{
  border-bottom:1px solid #E0E0E0;
  width: 100%;
  height: 1rem;
  margin-bottom: 1rem;
}

footer{
  display: flex;
  flex-direction: column;
  background-color: white;
  color:#21243D;
  width: 100%;
  justify-content: center;

}

footer .social-midia{
  display: flex;
  justify-content: space-around;
  width: 30rem;
  margin: 0 auto;
  margin-top: 120px;
}

footer .social-midia li{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 4rem;
  align-items: center;
}

footer .copyright{
  display: flex;
  align-items: top;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 2rem;
  font-size: 14px;
  font-weight: 300;
}

@media (max-width: 792px){

  main #contact-section .card{
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    padding: 1rem;
  }

  main #contact-section .card .text{
    padding-bottom: 1.5rem;
    font-size: 0.8rem;
  }

  main #contact-section .card .form-card,
  main #contact-section .card .msg,
  {
    width: 90%;
    font-size: 0.8rem;
  }

  .line{
   display: none;
  }

  footer{
    width: 100%;
  }

  

}